// Kubernetes config
process.executor = 'k8s'

executor.memory = '4g'
executor.cpus = '4'

k8s.namespace = 'braingeneers'
k8s.computeResourceType = 'Job'
k8s.securityContext.privileged = false
k8s.securityContext.allowPrivilegeEscalation = false
k8s.containers.securityContext.privileged = false
k8s.pod.privileged = false
k8s.storageClaimName = 'chaos-vol'
k8s.storageMountPath = '/workspace'
k8s.projectDir = '/workspace'
k8s.launchDir = '/workspace'

docker.enabled = true
docker.runOptions = '--cpus 1 --memory 1g'
