// Kubernetes config
process.executor = 'k8s'
k8s.namespace = 'braingeneers'
k8s.computeResourceType = 'Job'
k8s.securityContext.privileged = false
k8s.securityContext.allowPrivilegeEscalation = false
k8s.containers.securityContext.privileged = false
k8s.pod.privileged = false
k8s.serviceAccount = 'nextflow-sa'

aws.client.endpoint = 'https://s3-west.nrp-nautilus.io'
aws.client.s3PathStyleAccess = true
